<html>
    <head>
	<style>
	.container{
	   display: flex;
	   flex-direction: row;
	   flex-wrap: nowrap;
	   align-items: flex-start;
	}
        img {
	        flex: 1;
	        height: 250px;
	        width: auto;
	}
	</style>
        <title>GWTC-1</title>
    </head>
    <body>
        <div>
        {% for evname,ev in events.items()  %}
        
        <p>Event name: {{ evname }}</p>
        
        {% for ch in ev['files']['FrameChannels'] %}

        <div>Channel: {{ ch }}</div>
        <div class=container>
        <img height="300" src="/static/gwtc1/{{ch[:2]}}-{{evname}}_psd.png">
        <img height="300" src="/static/gwtc1/{{ch[:2]}}-{{evname}}_ht.png">
        <img height="300" src="/static/gwtc1/{{ch[:2]}}-{{evname}}_wh.png">
        </div>

        {% endfor %}
        
        {% endfor %}
        </div>
    </body>
</html>
